{% include "header.html" %}
<table style="border-width: 2px; border-style: solid;">
  <tr>
    {% for v in venues %}
  <tr>
    <td colspan="5">Venue {{ v.venue_name }}</td>
  </tr>
  {% for g in v.game_set %}
  <tr>
    <td>&nbsp;</td>
    <td><a href="/admin/game?edit={{g.key}}">edit</a></td>
    <td><a href="/admin/delete?edit={{g.key}}">delete</a></td>
    <td>{{ g.play_date|date:'m/d/Y' }}</td>
    <td>{{ g.start_time }}</td>
  </tr>
  {% empty %}
  <tr>
    <td>&nbsp;</td>
    <td colspan="4">No games for this venue</td>
  </tr>
  {% endfor %}
  {% endfor %}
</table>
<form method="post">
  <table>
    <tr><th colspan="2" style="text-align: left;">Add a Game</th></tr>
    <tr>
      <td style="text-align: right;">Venue</td>
      <td>
	<select name="vkey" size="1">
	  {% if edit_key %}
	  <option value="{{edit_game.venue.key}}">{{edit_game.venue.venue_name}}</option>
	  {% else %}
	  <option value="" selected="selected">None</option>
	  {% for v in venues %}
	  <option value="{{v.key}}">{{v.venue_name}}</option>
	  {% endfor %}
	  {% endif %}
	</select>
      </td>

    </tr>
    {% if edit_key %}
    <tr>
      <td style="text-align: right;">Play Date</td>
      <td><input name="play-date-show" type="text" size="40" maxlength="10"
			 value="{{ edit_game.play_date|date:'m/d/Y' }}" disabled="disabled"
			 />
	<input name="play-date" type="hidden" value="{{ edit_game.play_date|date:'m/d/Y' }}" />
      </td>
      
    </tr>
    {% else %}
    <tr>
      <td style="text-align: right;">Play Date</td>
      <td><input name="play-date" type="text" size="40" maxlength="10"
			 value="{{ edit_.venue_address|default:''}}" id="playdate"
			 /></td>
    </tr>
    <script>
      $(function() {
      $( "#playdate" ).datepicker();
      });
    </script>
    {% endif %}
    <tr>
      <td style="text-align: right;">Start Time (HH24:MM)</td>
      <td><input name="start-time" type="text" size="40" maxlength="256"
		 value="{{ edit_game.start_time|default:''}}"
		 /></td>
    </tr>
    <tr><td colspan="2" style="text-align: right;"><input type="submit" value="Save Game" /></td></tr>
  </table>
</form>
{% include "footer.html" %}
