{% include "header.html" %}
<script>
    var lastBidCheckTime = 0;
    function secondsSinceEpochUTC() {
        dateObj = new Date();
        return Math.floor(dateObj.getTime() / 1000);
    }

    function getScores() {
        var game_key = $('#leaderboard').attr("game_key");
        $.getJSON('/admin/play/score?game=' + game_key, function(data) {
                $.each(data, function(idx, val) {
                        var targetNode = $('#leaderboard [team_name="' + idx +'"]');
                        $(targetNode).children('.teamScore')[0].innerHTML = val;
                        //

                    });
                
            });
    }

    function getBids(since) {
        var game_key = $('#scoreboard').attr("game_key");
        $.getJSON('/admin/play/guess?game=' + game_key + '&changed_since=' + since, function(data) {
                if (data.length != 0) {
                    lastBidCheckTime = secondsSinceEpochUTC();
                }
                $.each(data, function(idx, val) {
                        var targetNode = $('[team_key="'  + data[idx].team_key + '"] [question_key="' + data[idx].question_key + '"]')[0];
                        $(targetNode).children('.wagerAmount')[0].value = data[idx].wager;
                        $(targetNode).children('.correctCheck')[0].checked = data[idx].correct;
                    });
                
            });
    }

    function refreshBids() {
        getBids(lastBidCheckTime);
        setTimeout(refreshBids, 20000);
    }

    function refreshScores() {
        getScores();
        setTimeout(refreshScores, 20000);
    }

    $(document).ready(function() {
        var oTable = $('#scoreboard').dataTable({
            "sScrollX": "100%",
            "bSort": false,
            "bFilter": false,
            "bScrollCollapse": true,
            "aoColumnDefs": [ { "sWidth": "100px", "aTargets": ["questionColumn"] } ]
        });
        new FixedColumns( oTable, { "iLeftWidth": 150 } );

        var scoreTable = $('#leaderboard').dataTable({
            "sScrollX": "100%",
            "bSort": false,
            "bFilter": false,
            "bScrollCollapse": true,
        });


        $('.wagerInput').change(function(obj) {
            // post the new values
            var targetNode = obj.currentTarget.parentNode;
            var game_key = $('#scoreboard').attr("game_key");
            var question_key = $(targetNode).attr("question_key");
            var team_key = $(targetNode.parentNode).attr("team_key");
            var wager = $(targetNode).children('.wagerAmount')[0].value;
            var correct = $(targetNode).children('.correctCheck')[0].checked;
            /* only post if there's a value */
            if (wager.length  != 0) {
                $.post('/admin/play/guess', { 'game': game_key, 'question': question_key, 'team': team_key, 'wager': wager, 'correct': correct });
            }

        });

        refreshBids(); // get all the bids since forever, it's the first page load
        refreshScores();
    });

</script>
<style>
.table {
    max-width: 700px;
}
</style>

<div id="tableDiv">
    <table border="0" cellpadding="0" cellspacing="0" id="scoreboard" game_key="{{game_key}}"> 
        <thead>
            <tr>
                <th ></th> 
                {% for q in questions %}
                    <th  class="questionColumn">{{ q.question.question_text }}</th>
                {% endfor %}
            </tr>
        </thead> 
        <tbody>
            {% for t in teams %}
                <tr id="{{t.team_name}}" team_key={{t.key}}>
                    <td >{{t.team_name}}</td>
                    {% for q in questions %}
                        <td question_key="{{q.key}}"> 
                            <input class="wagerInput wagerAmount" type="text" maxlength="2" size="2" /> 
                            <input class="wagerInput correctCheck" type="checkbox"/>
                        </td>
                    {% endfor %} 
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<br>

<table border="0" cellpadding="0" cellspacing="0" id="leaderboard" game_key="{{game_key}}"> 
        <thead>
            <tr>
                <th>Team</th> 
                <th>Score</th>
            </tr>
        </thead> 
    <tbody>
        {% for t in teams %}
            <tr team_name="{{t.team_name}}" >
                <td>{{t.team_name}}</td>
                <td class="teamScore">0</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% include "footer.html" %}

