{% include "header.html" %}
<script>
    $(document).ready(function() {
        var oTable = $('#scoreboard').dataTable({
            "sScrollX": "100%",
            "bSort": false,
            "bFilter": false,
            "bScrollCollapse": true,
            "aoColumnDefs": [ { "sWidth": "100px", "aTargets": ["questionColumn"] } ]
        });
        new FixedColumns( oTable, { "iLeftWidth": 150 } );

    });
</script>
<style>
.table {
    max-width: 700px;
}
</style>

<div id="tableDiv">
    <table border="0" cellpadding="0" cellspacing="0" id="scoreboard"> 
        <thead>
            <tr>
                <th ></th> 
                {% for q in questions %}
                    <th  class="questionColumn">{{ q.question.question_text }}</th>
                {% endfor %}
            </tr>
        </thead> 
        <tbody>
            {% for t in teams %}
                <tr id="{{t.team_name}}">
                    <td >{{t.team_name}}</td>
                    {% for q in questions %}
                        <td >
                            <input type="text" maxlength="2" name="wager_{{q.round}}_{{q.index}}" size="2" class="scoreEntry" value="0"/> 
                            <input type="checkbox" name="iscorrect_{{q.round}}_{{q.index}}" value="no">
                        </td>
                    {% endfor %} 
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% include "footer.html" %}

